@using Topping.Common.Sources
@model List<Topping.Web.Models.GroupViewModel>

@{
    ViewBag.Title = Titles.Home;

    var columnsInRow = 2;
    var rowsCount = Model.Count / columnsInRow;
    var counter = 0;
    var lastIndex = 0;
}

<div class="page-content">
    <div class="container">
        @for (var i = 0; i < rowsCount; i++)
        {
            <div class='row'>
                
                @for (var j = lastIndex; j < Model.Count; j++)
                {
                    if (counter != 0 && counter % 2 == 0)
                    {
                        lastIndex = counter;
                        counter=0;
                        break;
                    }
                    @Html.Partial("_GroupItem", Model[j])
                    counter++;
                }

            </div>
        }
    </div>
</div>
