@using Topping.Domain.Extentions
@model List<Topping.Domain.Models.Product>

@{
    ViewBag.Title = Model.First().Group.GetValue();

    var columnsInRow = 2;
    var rowsCount = Model.Count / columnsInRow;
    var counter = 0;
    var lastIndex = 0;
}

<div class="page-content">
    <div class="container">
        @for (var i = 0; i < rowsCount; i++)
        {
            <div class='row'>

                @for (var j = lastIndex; j < Model.Count; j++)
                {
                    if (counter != 0 && counter % 2 == 0)
                    {
                        lastIndex = counter;
                        counter = 0;
                        break;
                    }
                    @Html.Partial("_ProductItem", Model[j])
                    counter++;
                }

            </div>
        }
    </div>
</div>