@using Topping.Common.Sources
@{
    ViewBag.Title = Menu.About;
}

<div class="page-content">
    <div class="container">
        <div class="col-md-12 col-sm-12">
            <div class="portlet light ">
                <h3>@ViewBag.Message</h3>

                <p>Use this area to provide additional information.</p>
            </div>
        </div>
    </div>
</div>